<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="desIHPcription" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Avanade IHP</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="home.css" rel="stylesheet">
 

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
         body{
            margin-top: 60px;
        }
        .container {max-width: 960px;}
        .border-top { border-top: 1px solid #e5e5e5; }
        .border-bottom { border-bottom: 1px solid #e5e5e5; }
        .border-top-gray { border-top-color: #adb5bd; }
        .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
        .lh-condensed { line-height: 1.25; }
        </style>
  </head>

  <body>
    <div>
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Avanade IHP</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                <li class="home.html"><a href="#"><span class="glyphicon glyphicon-home"> </span> Home</a></li>
                <li><a href="active"><span class="glyphicon glyphicon-book"> </span> Generate</a></li>
                <li><a href="#contact"><span class="glyphicon glyphicon-wrench"> </span> Train</a></li>
                </ul>
            </div>
            
        </div>   
        </nav>
    </dic>

    <div class="row">
        <div class="col-md-2 order-md-3 col-md-offset-9">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Preference</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>

        <form>
          <ul class="list-group mb-4">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Language
                  </label>
                  </div>
              <span class="text-muted">description</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Gender
                  </label>
                  </div>
                  <span class="text-muted">description</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Race
                  </label>
                </div>
                  <span class="text-muted">description</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">etc
                  </label>
                </div>
                  <span class="text-muted">description</span>
                  
            </li>
          </ul>
        </form>
        <div style="text-align:center">
            <button type="button" class="btn btn-primary">SET UP</button>
        </div>
        </div>



    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



  </body>
</html>
