<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Avanade IHP</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="home.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <style>
      body{
         margin-top: 60px;
     }
     .container {max-width: 960px;}
     .border-top { border-top: 1px solid #e5e5e5; }
     .border-bottom { border-bottom: 1px solid #e5e5e5; }
     .border-top-gray { border-top-color: #adb5bd; }
     .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
     .lh-condensed { line-height: 1.25; }
     </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Avanade IHP</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#"><span class="glyphicon glyphicon-home"> </span> Home</a></li>
              <li><a href="generate.html"><span class="glyphicon glyphicon-book"> </span> Generate</a></li>
              <li><a href="#contact"><span class="glyphicon glyphicon-wrench"> </span> Train</a></li>

              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" placeholder="Account" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
              </form>
            </ul>
        </div>
          
      </div>   
    </nav>

    <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>
      
      <div>
        <img src="img/1.jpg" class="img-responsive" alt="001" width="2560" height="850">
      </div>

      <div class="container">
        <div class="redBubble"  data-toggle="popover"  title="Title"
        data-container="body" data-toggle="popover" data-placement="right"
        data-content="#description">
          <div class ="text-center">
            <p>RACE</p>
          </div>
        </div>

        <div class="greenBubble"  data-toggle="popover"  title="Title"
        data-container="body" data-toggle="popover" data-placement="right"
        data-content="#description">
          <div class ="text-center">
            <p>religion</p>
          </div>
        </div>

        <div class="blueBubble"  data-toggle="popover"  title="Title"
        data-container="body" data-toggle="popover" data-placement="right"
        data-content="#description">
          <div class ="text-center">
            <p>RACE</p>
          </div>
        </div>

        <div class="purpleBubble"  data-toggle="popover"  title="Title"
        data-container="body" data-toggle="popover" data-placement="right"
        data-content="#description">
          <div class ="text-center">
            <p>RACE</p>
          </div>
        </div>

      </div>
        <hr style="border:1 dashed #987cb9" width="80%" color="#987cb9" size=1>

    <div class="container">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>

      <hr>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script>
      $(function (){
          $("[data-toggle='popover']").popover();
      });
      </script>

  </body>
</html>
